@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@font-face {
  font-family: myFirstFont;
  src: url(Fonts/Elemental-End.ttf);
}
@font-face {
  font-family: joe;
  src: url(Fonts/Elemental-End-italic.ttf);
}


#testfont {
  font-family: myFirstFont;
}




#playercard {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(253, 253, 253);
  background-color: #282828;

}


#playercard1 {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(253, 253, 253);
  background-image: -moz-linear-gradient(
    16deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
  background-image: -webkit-linear-gradient(
    16deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
  background-image: -ms-linear-gradient(
    16deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
}
.rounded-xl {
  -moz-border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  -webkit-border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.rounded-xlphoto {
  -moz-border-radius: 1.5rem 1.5rem 0rem 0rem;
  -webkit-border-radius: 1.5rem 1.5rem 0rem 0rem;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.su-youtube {
  margin: 0 auto;
  display: block;
}
.navbar-nav > li {
  margin-left: 30px;
  margin-right: 30px;
}

.navgradtest {
  background: rgb(249,163,56);
background: linear-gradient(90deg, rgba(249,163,56,1) 21%, rgba(129,18,137,1) 85%);

}

#grad1 {
  height: 100%;
  background-color: rgb(
    148,
    41,
    168
  ); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(48, 48, 48), rgb(0, 0, 0));
}
#grad2 {
  background-image: -moz-linear-gradient(
    106deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
  background-image: -webkit-linear-gradient(
    106deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
  background-image: -ms-linear-gradient(
    106deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
  min-height: 100vh;
  height: 100%;
}
#navgrad {
  background-image: -moz-linear-gradient(
    106deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
  background-image: -webkit-linear-gradient(
    106deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
  background-image: -ms-linear-gradient(
    106deg,
    rgb(105, 4, 139) 0%,
    rgb(248, 162, 57) 100%
  );
  box-shadow: 0px 5px 29.4px 5.6px rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
#navtest {
  background-image: url("images/Rectangle_1.png");
}

#mainpagebackground {
  background-image: url("svgs/solo_shuffle.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.text-responsive {
  font-size: calc(100% + 1.5vw + 1.5vh);
}
.text-responsivebig {
  font-size: calc(100% + 2vw + 2vh);
}

.text-shadow{
  text-shadow: 2px 2px 2px #000;
}

.twitchgrad {
  background-image: linear-gradient(rgb(48, 48, 48), rgb(125, 29, 113));
}

.drop-shadow1 {
  box-shadow: 3px 20px 23px 5.6px rgba(0, 0, 0, 0.8);
}
.drop-shadownav {
  box-shadow: 0px 4px 30px 5.6px rgba(0, 0, 0, 0.8);
}
.photo-b-border {
  border-bottom: 1px solid rgb(255, 255, 255);
}

#tournament-image {
  background-image: url("svgs/solo_shuffle.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-position: 100% 0;
  
}


#tournament-image-info {
  background-image: url("svgs/solo_shuffle_info.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-position: 100% 0;
  
}

@media (min-width:1400px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    
 
  }
}


@media (max-width: 500px) {
  .joemama {
    height: 50vh;
  }
    
  }

  @media (min-width: 501px) {
    .joemama2 {
      height: 116vh;
    }
      
    }



#about-us-image {
  background-image: url("images/BACKGROUND.png");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center center;
}

.title {
  background-image: url('images/brightnew.gif');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color:  transparent;
}
